<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="ed0d61f9-5585-4dea-ad4f-48a2dee04d58" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-06T16:37:49" updateDate="2017-07-06T16:49:25" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1053" creatorName="Steve" writerName="Steve" writerID="0" template="1056" nodeTypeAlias="home" />
</root>